
<html>
<head>
    <title>Title</title>
</head>
<body>
<form action="/create" method="post" enctype="multipart/form-data">
    <input placeholder="name" name="name"><br>
    <input placeholder="img" name="upImg" type="file"><br>
    <input placeholder="price" name="price"><br>
    <select id="status" name="status" style="width: 170px ; height: 25px">
        <option value="1" selected>Còn Hàng</option>
        <option value="0">Hết Hàng</option>
    </select><br>
    <button type="submit">Create</button>
</form>
</body>
</html>
